/* Styles */

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;

}
#root {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4d4d4d;
	min-width: 400px;
	max-width: 100%;
	margin: 0 auto;

}

#google_translate_element {
	background-color: antiquewhite;
}

.goog-te-gadget-simple {
	background-color: transparent!important;
	border-style: none!important;
}

.goog-te-gadget img {
	display: none;
}

#homepage {
	display: flex;
	justify-content: center;
}

label > span {
	font-size: 20px;
	color: mintGreen;
}
.heading {
	display: flex;
	justify-content: center;
}

.homeImage {
	position: relative;
}

.title {
	z-index: 3;
	font-weight: 500;
	font-size: 20px;
	position: absolute;

}
