/* Styles */

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;

}

#root {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0 auto;
	background-color: white;
	color: black;
}

/*top navigation styles */

.navbar {
	display: flex;
	flex-flow: row nowrap;
	justify-items: flex-end;
	align-items: center;
	background-color:  white;
	margin-top: 5px;
}

.navbar li {
	flex: 1;
	align-content: center;
}

.navbar  li:nth-child(4)>input , li:nth-child(5)>input {
	background-color: darkslateblue;

}

/*google translate styles*/

#google_translate_element {
	background-color: black;
	z-index: 10000;
}

.goog-te-gadget-simple {
	background-color: black!important;
}

/*home page styles*/

#homepage {
	display: flex;
	justify-content: center;
}

.homeImage {
	width: 100%;
	height: 500px;
}

.title {
	z-index: 3;
	font-weight: 500;
	font-size: 20px;
	position: absolute;
}




label > span {
	font-size: 20px;
	color: black;
}


